<?xml version='1.0' encoding='utf-8'?>
<widget id="com.terasol.washmart" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WASH MART</name>
    <description>
        WASH MART is a professional garment care, Dry-cleaning and finishing service.
    </description>
    <author email="anoop.sharma9213@gmail.com" href="http://terasol.in">
        Anoop Sharma
    </author>
    <content src="index.html" />
    <icon src="www/img/icon.png" />
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
